media/project_files/Desktop.png
media/project_files/Android-1.png
media/project_files/Android-2.png
media/project_files/Android.png
media/project_files/Desktop-1.png
media/project_files/Desktop-2.png

.sass-cache/