@import 'global';

@keyframes addOpen {
    0% {
        width: 80px;
        height: 80px;
    }
    50% {
        width: 25%;
        height: 80px;
    }
    90% {
        height: 70%;
    }
    100% {
        width: 25%;
        height: 70%;
    }
}

@keyframes addClose {
    0% {
        width: 25%;
        height: 70%;
    }
    50% {
        height: 80px;
        width: 25%;
    }
    90% {
        width: 80px;
    }
    100% {
        width: 80px;
        height: 80px;
    }
}

@keyframes makeVisible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes makeHidden {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes addTask {
    from {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes reminderSlideIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    70% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes reminderSlideOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

@media screen and (max-width: 1500px) {
    @keyframes addOpen {
        0% {
            width: 80px;
            height: 80px;
        }
        50% {
            width: 30%;
            height: 80px;
        }
        90% {
            height: calc(100% - 50px);
        }
        100% {
            width: 30%;
            height: calc(100% - 50px);
            z-index: 20;
        }
    }
    
    @keyframes addClose {
        0% {
            width: 30%;
            height: calc(100% - 50px);
            z-index: 20;
        }
        50% {
            height: 80px;
            width: 30%;
        }
        90% {
            width: 80px;
        }
        100% {
            width: 80px;
            height: 80px;
            z-index: 4;
        }
    }
}