@import 'global';
@import 'animation';

.container {
    position: absolute;
    top: 0;
    left: 0;
    @include size(100vw, 100vh);
    // background: $gray url('/media/background_gray.png') center center repeat;
    background: $gray url('/media/background.png') center center repeat;
    header {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        @include size(100%, 140px);
        z-index: 5;
        .bigWave {
            @include positionDefault;
            @include size(100%, 100%);
            display: block;
        }
        .smallWave {
            display: none;
        }
        .logo, .logoMobile {
            position: absolute;
            top: 7%;
            left: 6%;
            @include size(auto, 70px);
        }
        .logo {
            display: block;
        }
        .logoMobile {
            display: none;
        }
        .currentDate {
            position: absolute;
            top: 14%;
            right: 2%;
            font-family: 'Palanquin Dark', sans-serif;
            font-size: 1.2rem;
            color: #fff;
        }
    }
    .main {
        @include positionDefault;
        @include size(100%, 100%);
        overflow: hidden;
        z-index: 2;
        h1 {
            font-size: 7rem;
            color: rgba($gray, .1);
            position: absolute;
            top: 15%;
            left: 7%;
        }
        .tasks {
            position: absolute;
            top: 0;
            left: 0;
            @include size(100%, 100%);
            padding: 240px 45% 6% 15%;
            list-style-type: none;
            overflow-y: scroll;
            .task {
                position: relative;
                width: 100%;
                min-height: 75px;
                margin-bottom: 20px;
                padding-bottom: 15px;
                background-color: rgba(255, 255, 255, 1);
                border-radius: 15px;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
                z-index: 2;
                transition: all 400ms ease-in-out;
                animation: addTask 500ms ease-in-out;
                overflow: hidden;
                .progressBar {
                    position: absolute;
                    height: 100%;
                    min-height: 75px;
                    border-radius: 15px;
                    transition: width 400ms ease-in-out;
                }
                .taskPercentage, .taskDeadline, .taskName {
                    position: relative;
                    display: inline-block;
                    z-index: 4;
                    max-width: calc(100% - 120px)
                }
                .taskPercentage {
                    font-size: 1.1rem;
                    color: rgba($darkGray, .6);
                    margin: 10px 30px;
                }
                .taskDeadline {
                    color: rgba($gray, .8);
                    font-size: .9rem;
                }
                .taskStart {
                    display: none;
                }
                .taskName {
                    font-weight: 500;
                    display: block;
                    margin: 0 30px;
                    line-height: 1.5rem;
                    font-size: .9rem;
                }
                .taskFinished {
                    position: absolute;
                    top: 50%;
                    right: 25px;
                    transform: translateY(-50%);
                    @include size(40px, 40px);
                    z-index: 4;
                    border-radius: 50%;
                    background-color: #fff;
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
                    transition: transform 200ms ease-in-out;
                    &:hover {
                        transform: translateY(-50%) scale(1.15);
                    }
                    img {
                        @include size(20px, 20px);
                        position: absolute;
                        top: 25%;
                        left: 25%;
                        opacity: .6;
                    }
                }
            }
        }
    }
    .addPanel {
        position: absolute;
        bottom: 30px;
        right: 30px;
        @include size(80px, 80px);
        background-color: #fff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        z-index: 4;
        outline: none;
        transition: all 200ms ease-in-out;
        overflow: hidden;
        &:hover {
            box-shadow: none;
        }
        img {
            position: absolute;
            bottom: 29px;
            right: 29px;
            @include size(22px, 22px);
            transition: transform 300ms ease;
        }
        .addHandle {
            position: absolute;
            bottom: 0px;
            right: 0px;
            @include size(80px, 80px);
        }
        .addContent {
            position: absolute;
            top: 70px;
            left: 10%;
            width: 80%;
            padding: 0 5%;
            opacity: 0;
            h3 {
                color: rgba($gray, .5);
                font-size: .8rem;
                margin-bottom: 20px;
            }
            label {
                font-size: .8rem;
            }
            input, textarea {
                @include size(90%, 40px);
                margin-top: 5px;
                margin-bottom: 20px;
                padding-left: 5%;
                border: none;
                border-radius: 15px;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                font-size: 0.8rem;
                &::placeholder {
                    opacity: 0.6;
                    // line-height: 40px;
                }
            }
            textarea {
                @include size(100%, 120px);
                resize: none;
                padding-top: 3%;
            }
            button {
                position: relative;
                display: block;
                margin: 20px auto;
                @include size(60px, 60px);
                background-color: #fff;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                border-radius: 50%;
                img {
                    position: absolute;
                    top: 34%;
                    left: 34%;
                    transform: rotate(0);
                    @include size(20px, auto);
                }
            }
        }
    }
}

// laptops
@media screen and (max-width: 1500px) {
    .container .main .tasks {
        padding: 240px 25% 6% 10%;
    }
}

// tablet
@media screen and (max-width: 1030px) {
    .container {
        .main {
            h1 {
                display: none;
            }
            .tasks {
                padding: 240px 10% 6% 10%;
            }
        } 
        .addPanel {
            right: 50%;
            bottom: 15px;
            width: 70px;
            height: 70px;
            margin-right: -35px;
            opacity: .8;
            transition: all 400ms ease-in-out;
            img {
                bottom: 24px;
                right: 24px;
            }
        }
        .addOpened {
            right: 30%;
            animation: none;
            width: calc(40% + 70px);
            height: 70%;
            opacity: .93;
        }
        .addClosed {
            animation: none;
            width: 70px;
            height: 70px;
        }
        
    }
}

// mobile
@media screen and (max-width: 767px) {
    .container {
        header {
            .bigWave {
                display: none;
            }
            .smallWave {
                @include positionDefault;
                @include size(100%, initial);
                display: block;
            }
            .logo {
                top: 0;
                height: 50px;
            }
            .currentDate {
                right: unset;
                left: 8%;
                top: 32%;
                font-size: .8rem;
                color: rgba(255,255,255,.6);
            }
        }
        .main .tasks {
            padding: 150px 0 6% 0;
                .task {
                    border-radius: 0;
                .progressBar {
                    border-radius: 0;
                }
                .taskName {
                    font-size: 0.7rem;
                    line-height: 1.3rem;
                    max-width: calc(100% - 90px);
                }
                .taskFinished {
                    right: 18px;
                }
            }
        }
        .addPanel .addContent {
            top: 170px;
            height: 70%;
            overflow-y: auto;
        }
        .addOpened {
            right: 0;
            bottom: 0;
            border-radius: 0;
            animation: none;
            width: 100%;
            height: 100%;
            opacity: .93;
            margin-right: 0;
        }
        .addClosed {
            animation: none;
            width: 70px;
            height: 70px;
        }
    }
}

// mobile horizontally
@media only screen and (max-width: 767px) and (orientation: landscape) {
    .container {
        header {
            .smallWave {
                display: none;
            }
            .logo {
                display: none;
            }
            .logoMobile {
                top: 0;
                left: 3%;
                height: 50px;
                display: block;
            }
            .currentDate {
                top: 14%;
                left: unset;
                right: 2%;
                color: $darkGray;
            }
        }
        .main .tasks {
            padding: 100px 0 6% 0;
        }
    }
}
