@import 'global';
@import 'animation';

.container {
    position: absolute;
    top: 0;
    left: 0;
    @include size(100vw, 100vh);
    background: #fff url('/media/background.png') center center repeat;
    overflow: hidden;
    header {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        @include size(100%, 140px);
        z-index: 5;
        .bigWave {
            @include positionDefault;
            @include size(100%, 100%);
            display: block;
        }
        .smallWave {
            display: none;
        }
        .logo, .logoMobile {
            position: absolute;
            top: 7%;
            left: 6%;
            @include size(auto, 70px);
        }
        .logo {
            display: block;
        }
        .logoMobile {
            display: none;
        }
        .currentDate {
            position: absolute;
            top: 14%;
            right: 2%;
            font-family: 'Palanquin Dark', sans-serif;
            font-size: 1.2rem;
            color: #fff;
        }
    }
    .main {
        @include positionDefault;
        @include size(100%, 100%);
        overflow: hidden;
        z-index: 2;
        h1 {
            font-size: 7rem;
            color: rgba($gray, .05);
            position: absolute;
            top: 150px;
            left: 7%;
        }
        h2, h3 {
            position: absolute;
            top: 45%;
            left: 50%;
            margin-left: -13%;
            width: 26%;
            font-size: 1.1rem;
            text-align: center;
            opacity: .8;
        }
        h3 {
            top: 50%;
            font-size: 0.9rem;
            opacity: .5;
            font-weight: 400;
        }
        .tasks {
            position: absolute;
            top: 0;
            left: 0;
            @include size(100%, 100%);
            padding: 240px 45% 6% 15%;
            list-style-type: none;
            overflow-y: scroll;
            .task {
                position: relative;
                width: 100%;
                min-height: 75px;
                margin-bottom: 20px;
                padding-bottom: 15px;
                background-color: rgba(255, 255, 255, 1);
                border-radius: 15px;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
                z-index: 2;
                transition: all 400ms ease-in-out;
                animation: addTask 500ms ease-in-out;
                overflow: hidden;
                .progressBar {
                    position: absolute;
                    height: 100%;
                    min-height: 75px;
                    border-radius: 15px;
                    transition: all 600ms ease-in-out;
                }
                .taskPercentage, .taskDeadline, .taskName, .descriptionBtn {
                    position: relative;
                    display: inline-block;
                    z-index: 4;
                    max-width: calc(100% - 120px)
                }
                .taskPercentage {
                    font-size: 1.1rem;
                    color: rgba($darkGray, .6);
                    margin: 10px 30px;
                }
                .taskDeadline, .descriptionBtn {
                    color: rgba($gray, .8);
                    font-size: .9rem;
                }
                .descriptionBtn {
                    margin: 0 30px;
                    color: rgba($gray, .3);
                    cursor: pointer;
                    transition: all 200ms ease;
                    &:hover {
                        color: rgba($gray, .8);
                    }
                }
                .taskStart, .taskDeadlineTime {
                    display: none;
                }
                .taskName, .taskDescription {
                    font-weight: 500;
                    display: block;
                    margin: 0 30px;
                    line-height: 1.5rem;
                    font-size: .9rem;
                }
                .taskDescription {
                    display: none;
                    font-size: .8rem;
                    color: rgba($gray, .8);
                    margin: 5px 85px 0 45px;
                }
                .taskFinished {
                    position: absolute;
                    top: 50%;
                    right: 25px;
                    transform: translateY(-50%);
                    @include size(40px, 40px);
                    z-index: 4;
                    border-radius: 50%;
                    background-color: #fff;
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
                    transition: transform 200ms ease-in-out;
                    &:hover {
                        transform: translateY(-50%) scale(1.15);
                    }
                    img {
                        @include size(20px, 20px);
                        position: absolute;
                        top: 25%;
                        left: 25%;
                        opacity: .6;
                        pointer-events: none;
                    }
                }
            }
        }
    }
    .addPanel {
        position: absolute;
        bottom: 30px;
        right: 30px;
        @include size(80px, 80px);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 40px;
        z-index: 4;
        outline: none;
        transition: all 200ms ease-in-out;
        overflow: hidden;
        &:hover {
            box-shadow: none;
        }
        img {
            position: absolute;
            bottom: 29px;
            right: 29px;
            @include size(22px, 22px);
            transition: transform 300ms ease;
        }
        .addHandle {
            position: absolute;
            bottom: 0px;
            right: 0px;
            @include size(80px, 80px);
            z-index: 14;
            cursor: pointer;
        }
        .addContent {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10%;
            width: 80%;
            padding: 0 5%;
            opacity: 0;
            h3 {
                color: rgba($gray, .5);
                font-size: .8rem;
                margin-bottom: 20px;
            }
            label {
                font-size: .8rem;
            }
            .deadlineInput {
                width: 100%;
                input:nth-child(1) {
                    width: 60%;
                    margin-right: 5%;
                }
                input:nth-child(2) {
                    width: 30%;
                }
            }
            input, textarea {
                @include size(100%, 40px);
                margin-top: 5px;
                margin-bottom: 20px;
                padding-left: 5%;
                border: none;
                border-radius: 15px;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                font-size: 0.8rem;
                &::placeholder {
                    opacity: 0.4;
                    // line-height: 40px;
                }
                &::-webkit-clear-button,
                &::-webkit-inner-spin-button {
                  display:none;
                }
                &::-webkit-calendar-picker-indicator {
                    color: rgba(255, 255, 255, 0);
                    @include size(15px, 15px);
                    background: #fff url('/media/calendar.svg') center center no-repeat;
                    background-size: contain;
                    margin-right: 10px;
                    opacity: .3;
                    transition: opacity 300ms ease;
                    &:hover {
                        opacity: .7;
                    }
                }
            }
            textarea {
                @include size(100%, 120px);
                resize: none;
                padding-top: 3%;
            }
        }
    }
    .addSubmit, .reminder button {
        position: relative;
        display: block;
        margin: 20px auto;
        @include size(60px, 60px);
        background-color: #fff;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        img {
            position: absolute;
            top: 34%;
            left: 34%;
            transform: rotate(0);
            @include size(20px, auto);
        }
    }
    .reminder {
        position: absolute;
        bottom: 0;
        right: 10%;
        width: 20%;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        text-align: center;
        box-shadow: 0px 0px 50px rgba($gray, 0.4);
        border-radius: 40px 40px 0 0;
        z-index: 15;
        opacity: 0;
        transform: translateY(100%);
        h3 {
            margin-top: 7%;
            color: rgba(243, 0, 0, .7);
            font-size: .9rem;
        }
        .tasksNames {
            margin: 10% 0;
            font-weight: 600;
            p {
                color: rgba($gray, .8);
                margin-bottom: 5px;
                font-size: .8rem;
            }
        }
        button {
            margin-bottom: 5%;
        }
    }
}

// laptops
@media screen and (max-width: 1500px) {
    .container .main .tasks {
        padding: 240px 25% 6% 10%;
    }
}

// tablet
@media screen and (max-width: 1030px) {
    .container {
        .main {
            h1 {
                display: none;
            }
            h2, h3 {
                width: 80%;
                margin-left: -40%;
            }
            .tasks {
                padding: 240px 10% 100px 10%;
            }
        } 
        .addPanel {
            right: 50%;
            bottom: 15px;
            width: 70px;
            height: 70px;
            margin-right: -35px;
            background-color: rgba(255, 255, 255, 0.4);
            transition: all 400ms ease-in-out;
            img {
                bottom: 24px;
                right: 24px;
            }
            .addContent {
                height: 80%;
            }
        }
        .addOpened {
            right: 30%;
            animation: none;
            width: calc(40% + 70px);
            height: 70%;
            opacity: .93;
            background-color: #fff;
        }
        .addClosed {
            animation: none;
            width: 70px;
            height: 70px;
            background-color: rgba(255, 255, 255, 0.4);
        }
        .reminder {
            right: 50%;
            margin-right: -17%;
            width: 34%;
        }
    }
}

// mobile
@media screen and (max-width: 767px) {
    .container {
        header {
            .bigWave {
                display: none;
            }
            .smallWave {
                @include positionDefault;
                @include size(100%, initial);
                display: block;
            }
            .logo {
                top: 0;
                height: 50px;
            }
            .currentDate {
                right: unset;
                left: 8%;
                top: 32%;
                font-size: .8rem;
                color: rgba(255,255,255,.6);
            }
        }
        .main .tasks {
            padding: 150px 0 100px 0;
                .task {
                    border-radius: 0;
                    .taskDescription {
                        font-size: .7rem;
                    }
                .progressBar {
                    border-radius: 0;
                }
                .taskName {
                    font-size: 0.7rem;
                    line-height: 1.3rem;
                    max-width: calc(100% - 90px);
                }
                .taskFinished {
                    right: 18px;
                }
            }
        }
        .addPanel .addContent {
            overflow-y: auto;
        }
        .addOpened {
            right: 0;
            bottom: 0;
            border-radius: 0;
            animation: none;
            width: 100%;
            height: 100%;
            opacity: .93;
            margin-right: 0;
            z-index: 20;
        }
        .addClosed {
            animation: none;
            width: 70px;
            height: 70px;
            z-index: 3;
        }
        .reminder {
            right: 50%;
            margin-right: -50%;
            width: 100%;
        }
    }
}

// little height mobile
@media only screen and (max-width: 823px) and (max-height: 700px) {
    .container {
        .addPanel {
            .addContent {
                height: 80%;
            }
        }
    }
}

// mobile horizontally
@media only screen and (max-width: 823px) and (orientation: landscape) {
    .container {
        header {
            .smallWave {
                display: none;
            }
            .logo {
                display: none;
            }
            .logoMobile {
                top: 0;
                left: 3%;
                height: 50px;
                display: block;
            }
            .currentDate {
                top: 14%;
                left: unset;
                right: 2%;
                color: $darkGray;
            }
        }
        .main {
            h2 {
                top: 40%;
            }
            h3 {
                top: 55%;
            }
            .tasks {
                padding: 100px 0 6% 0;
            }
        }
    }
}
